<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>373129010860-o1nrvelujbed5vqkkappv06a88ja8nae.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.373129010860-o1nrvelujbed5vqkkappv06a88ja8nae</string>
	<key>API_KEY</key>
	<string>AIzaSyCgD5F_LpfAiB1ufQ2Mjb94K2-iSiUPBsk</string>
	<key>GCM_SENDER_ID</key>
	<string>373129010860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.ImageUploadFB</string>
	<key>PROJECT_ID</key>
	<string>imagestoragestudyapp</string>
	<key>STORAGE_BUCKET</key>
	<string>imagestoragestudyapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:373129010860:ios:8cf3c66082d2e6cfb50909</string>
</dict>
</plist>
